<template>
    <section class="container py-4 vh-100 d-flex flex-column">
        <div class="row">
            <el-steps
            :active="settings.active"
            finish-status="success"
            align-center
            class="col my-4"
            >
                <el-step :title="settings.titles[STEP_NAMES[0]]"/>
                <el-step :title="settings.titles[STEP_NAMES[1]]"/>
                <el-step :title="settings.titles[STEP_NAMES[2]]"/>
            </el-steps>
        </div>

        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-10">
                <el-checkbox-group
                v-show="stepActive[STEP_NAMES[0]]"
                v-model="selectedValues[STEP_NAMES[0]]"
                class="checkbox-group"
                >
                    <el-checkbox
                    v-for="(item, index) in questions[STEP_NAMES[0]]"
                    :key="index"
                    :label="item.value"
                    class="checkbox-group__item"
                    border
                    @change="onClickedBox($event, item, STEP_NAMES[0])"
                    >
                        {{ item.title }}
                    </el-checkbox>
                </el-checkbox-group>

                <el-checkbox-group
                v-show="stepActive[STEP_NAMES[1]]"
                class="checkbox-group__container"
                v-model="selectedValues[STEP_NAMES[1]]"
                >
                    <el-checkbox
                    v-for="(item, index) in questions[STEP_NAMES[1]]"
                    :key="index"
                    :label="item.value"
                    :disabled="item.disabled"
                    class="checkbox-group__item"
                    border
                    @change="onClickedBox($event, item, STEP_NAMES[1])"
                    >
                        {{ item.title }}
                    </el-checkbox>
                </el-checkbox-group>

                <el-checkbox-group
                v-show="stepActive[STEP_NAMES[2]]"
                class="checkbox-group__container"
                v-model="selectedValues[STEP_NAMES[2]]"
                >
                    <el-checkbox
                    v-for="(item, index) in questions[STEP_NAMES[2]]"
                    :key="index"
                    :label="item.value"
                    :disabled="item.disabled"
                    class="checkbox-group__item"
                    border
                    @change="onClickedBox($event, item, STEP_NAMES[2])"
                    >
                        {{ item.title }}
                    </el-checkbox>
                </el-checkbox-group>
            </div>
        </div>
        <div v-if="messageByIndex" class="row mt-3 mt-auto">
            <p
            :class="messageByIndex.class"
            class="text-center w-100 h2 font-weight-bold"
            v-text="messageByIndex.text"
            />
        </div>
        <div class="row mt-auto mb-3">
            <div v-if="!stepActive[STEP_NAMES[0]]" class="col-3 mr-auto">
                <button
                @click="handlePreviousStepClick"
                class="btn btn-block btn-outline-secondary"
                v-text="settings.buttons.back"
                />
            </div>
            <div v-if="stepActive[STEP_NAMES[2]]" class="col-3">
                <button
                v-text="settings.buttons.finish"
                class="btn btn-block btn-success"
                :disabled="!isAnyoneSelected"
                @click="handleNextStepClick"
                />
            </div>
            <div v-else class="col-3 ml-auto">
                <button
                v-text="settings.buttons.continue"
                class="btn btn-block btn-primary"
                :disabled="!isAnyoneSelected"
                @click="handleNextStepClick"
                />
            </div>
        </div>
    </section>
</template>

<script>
const DEFAULT_STEP_TITLE = 'Factores de riesgo #'
const STEP_NAMES = ['first', 'second', 'third']

export default {
    name: 'Test',
    data () {
        return {
            STEP_NAMES,
            settings: {
                titles: {
                    [STEP_NAMES[0]]: `${DEFAULT_STEP_TITLE}1`,
                    [STEP_NAMES[1]]: `${DEFAULT_STEP_TITLE}2`,
                    [STEP_NAMES[2]]: `${DEFAULT_STEP_TITLE}3`
                },
                active: 0,
                buttons: {
                    back: 'Retroceder',
                    continue: 'Avanzar',
                    finish: 'Finalizar'
                }
            },
            questions: {
                [STEP_NAMES[0]]: [
                    { value: 'col1', title: 'Pregunta #1' },
                    { value: 'col2', title: 'Pregunta #2' },
                    { value: 'col3', title: 'Pregunta #3' },
                    { value: 'col4', title: 'Pregunta #4' },
                    { value: 'col5', title: 'Pregunta #5' },
                    { value: 'col6', title: 'Pregunta #6' },
                    { value: 'col7', title: 'Pregunta #7' },
                    { value: 'col8', title: 'Pregunta #8' },
                    { value: 'col9', title: 'Ninguna de las anteriores' }
                ],
                [STEP_NAMES[1]]: [
                    { value: 'col10', title: 'Pregunta #10' },
                    { value: 'col11', title: 'Pregunta #11' },
                    { value: 'col12', title: 'Pregunta #12' },
                    { value: 'col13', title: 'Pregunta #13' },
                    { value: 'col14', title: 'Pregunta #14' },
                    { value: 'col15', title: 'Ninguna de las anteriores' }
                ],
                [STEP_NAMES[2]]: [
                    { value: 'col16', title: 'Pregunta #16' },
                    { value: 'col17', title: 'Pregunta #17' },
                    { value: 'col18', title: 'Pregunta #18' },
                    { value: 'col19', title: 'Ninguna de las anteriores' }
                ]
            },
            selectedValues: {
                [STEP_NAMES[0]]: [],
                [STEP_NAMES[1]]: [],
                [STEP_NAMES[2]]: []
            },
            messages: {
                1: { text: '¡Cuidado!', class: 'text-warning' },
                2: { text: '¡Alerta!', class: 'text-warning' },
                3: { text: '¡Peligro!', class: 'text-danger' }
            }
        }
    },
    computed: {
        stepActive () {
            return {
                [STEP_NAMES[0]]: this.settings.active === 0,
                [STEP_NAMES[1]]: this.settings.active === 1,
                [STEP_NAMES[2]]: this.settings.active === 2
            }
        },
        isAnyoneSelected () {
            return this.selectedValues[Object.keys(this.stepActive)
                .filter(k => this.stepActive[k])[0]].length > 0
        },
        lastRowsNames () {
            return Object.keys(this.selectedValues).reduce((array, key) => [
                ...array,
                this.questions[key].slice(-1)[0].value
            ], [])
        },
        indexForMessage () {
            return Object.values(this.selectedValues).reduce((maxIndex, values, index) =>
                values.length > 0 && !values.some(this.isLastOne)
                    ? index + 1
                    : maxIndex
            , 0)
        },
        messageByIndex () {
            return this.messages[this.indexForMessage]
        }
    },
    methods: {
        handlePreviousStepClick () {
            if (this.settings.active > 0) this.settings.active--
        },
        handleNextStepClick () {
            if (this.settings.active < 3) this.settings.active++
        },
        onClickedBox (isChecked, { value }, step) {
            if (this.isLastOne(value) || this.isLastOneAlreadySelected(step)) this.selectedValues[step] = [value]
        },
        isLastOne (value) {
            return this.lastRowsNames.includes(value)
        },
        isLastOneAlreadySelected (step) {
            return this.selectedValues[step].some(this.isLastOne)
        }
    }
}
</script>

<style scoped>
    .checkbox-group__container{
        display:inline-block;
        margin: 0 10px;
    }

    .checkbox-group__item{
        margin: 10px 5px;
        padding: 5px 10px;
        width:45%;
    }
</style>
